*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Header Section */
.header{
    color: white;
    width: 100%;
    height: 75vh;
    position: relative;
    top: 0;
    left: 0;
    align-content: start;
    background-image: url(Pics/Pic1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.596);
    background-blend-mode: darken;
}
.frox_header{
    color: yellow;
    -webkit-text-stroke: 1px black;
}
nav{
    background-color: rgba(2, 2, 41, 0.89);
    width: 100%;
    position: fixed;
    top: 0;
    justify-content: space-between;
    align-content: space-between;
    z-index: 20;
    color: white;
    display: flex;
}
nav h2{
    margin-top: 0;
    margin-left: 3vw;
    font-size: 32px;
    font-weight: 900;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 3vw;
    list-style-type: none;
    margin-right: 5vh;
}
nav ul a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 20px;
    border-bottom: 2px solid transparent;
    transition: 0.3s ease-in;
}
nav ul a:hover{
    border-bottom: 2px solid yellow;
}
hgroup{
    margin: auto;
    position: relative;
    z-index: 2;
    width: 50vw;
    text-align: center;
    -webkit-text-stroke: 1px black;
    padding-top: 150px;
}
.header hgroup h1{
    font-size: 36px;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 45px;
    margin-bottom: -1vh;
}
.header_span_heading{
    width: 3vh;
    color: rgb(255, 255, 0);
}
.header hgroup h4{
    -webkit-text-stroke: 1px transparent;
}
.header button{
    width: 9vw;
    height: 7vh;
    border: 1px solid yellow;
    border-radius: 30px;
    font-weight: 600;
    font-size: 14px;
    background-color: yellow;
    position: relative;
    top: 0;
    left: 50%;
    translate: -50% 0;
    z-index: 2;
    margin-top: 3vh;
    transition: 0.5s ease-in;
}
.header button:hover{
    background-color: transparent;
    color: white;
}
/* =========================================================================================================== */
/* About Me Section */
.About_me_section{
    padding-top: 10vh;
    display: flex;
    width: 100%;
    height: 65vh;
    border: none;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 10%;
    justify-content: space-between;
    background-color: rgba(2, 2, 41, 0.89);
    position: relative;
    top: 0;
    left: 0;
    color: white;
    overflow: hidden;
}
.About_me_Pic_div{
    width: 50%;
}
.About_me_Pic_div img{
    display: block;
    height: 58vh;
    margin-left: 13vw;
    margin-top: 3vh;
}
.About_me_article{
    width: 55vw;
}
.About_me_buttons_div{
    display: flex;
    gap: 2vw;
}
.About_me_buttons_div button{
    width: 9vw;
    height: 7vh;
    border: 1px solid yellow;
    border-radius: 30px;
    font-weight: 600;
    font-size: 14px;
}
.About_me_btn_a{
    background-color: rgba(2, 2, 41, 0.89);
    color: yellow;
    transition: 0.5s ease-in;
}
.About_me_btn_a:hover{
    background-color: yellow;
    color: black;
}
.About_me_btn_b{
    background-color: yellow;
    color: black;
    transition: 0.5s ease-in;
}
.About_me_btn_b:hover{
    background-color: transparent;
    color: white;
}
/* =========================================================================================================== */
/* Experties Section */
.Experties_Section{
    color: white;
    margin-top: 20vh;
}
.Experties_Section_area_of{
    display: block;
    color: yellow;
    margin-left: 36vh;
}
.Experties_Section_experties{
    display: block;
    margin-left: 36vh;
}
.Experties_Section_articles_div{
    display: flex;
    justify-content: space-around;
    gap: 5vw;
    flex-wrap: wrap;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    text-align: center;
    width: 100%;
    margin-top: 5vh;
}
.Experties_Section_article{
    width: 30vw;
    text-align: left;
    margin-left: 7vw;
}
.Experties_Section_article_P_P_div{
    display: flex;
    justify-content: space-between;
}
.Experties_Section_article_p_html5{
    color: yellow;
    text-transform: uppercase;
}
.Experties_Section_article_P_Per{
    font-weight: 900;
    margin-right: 7.6vw;
}
.range{
    width: 22vw;
    height: 0.6vh;
    border-radius: 3px;
    transition: all 0.3s ease;
}
.range::-webkit-progress-value{
    background-color: yellow;
}
/* =========================================================================================================== */
/* My Service Section */
.My_Service_sect{
    color: white;
    margin-top: 25vh;
}
.My_Service_sect_p{
    display: block;
    color: yellow;
    text-align: center;
}
.My_Service_sect_h2{
    display: block;
    text-align: center;
}
.My_Service_Se{
    border-bottom: 2px solid yellow;
}
.My_Service_sect_div{
    display: flex;
    justify-content: center;
    gap: 1.5vw;
    margin-top: 5vh;
}
.My_Service_sect_article{
    width: 22vw;
    height: fit-content;
    border: none;
    border-radius: 10px;
    padding: 20px;
    background: linear-gradient(rgb(10, 10, 126), rgb(5, 5, 61));
}
.My_Service_sect_article_h3{
    margin-top: 2vh;
}
.My_Service_sect_article_p{
    color: rgba(255, 255, 255, 0.644);
}
.My_Service_sect_article_read_more{
    color: yellow;
    margin-top: 5vh;
    transition: 0.4s ease-in-out;
    width: fit-content;
    padding: 10px 25px;
}
.My_Service_sect_article_read_more:hover{
    background-color: yellow;
    color: black;
}
/* =========================================================================================================== */
/* Project Section  */
.Projects_section{
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15vw;
    width: 98vw;
    height: 50vh;
    padding-top: 25vh;
    background-image: url(Pics/horizantal_another.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.5);
    padding-right: 0;
    margin-top: 20vh;
}
.project-range{
    color: yellow;
    font-weight: 900;
    font-size: 25px;
    -webkit-text-stroke: 1px black;
    margin-bottom: -1vh;
    top: 26vh;
    text-align: center;
    z-index: 10;
}
.project-title{
    z-index: 2;
    text-align: center;
    text-transform: uppercase;
    margin-top: 1vh;
}
/* =========================================================================================================== */
/* My Experience Section  */
.My_Experience_Section{
    color: white;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.My_Experience_Section .My_Experience_Section_Work_P{
    color: yellow;
    text-align: center;
}
.My_Experience_Section h2{
    text-align: center;
}
.ri_span{
    border-bottom: 2px solid yellow;
}
.My_Experience_Section_article_1{
    width: 30vw;
    height: fit-content;
    border: 1px solid white;
    border-radius: 10px;
    padding: 1vw;
    text-align: left;
    margin-left: 33vw;
    margin-top: 5vh;
}
.My_Experience_Section_article_2{
    width: 30vw;
    height: fit-content;
    border: 1px solid white;
    border-radius: 10px;
    padding: 1vw;
    margin-right: 33vw;
    margin-top: 5vh;
    justify-self: flex-end;
}
.My_Experience_Section_article_3{
    width: 30vw;
    height: fit-content;
    border: 1px solid white;
    border-radius: 10px;
    padding: 1vw;
    text-align: left;
    margin-left: 33vw;
    margin-top: 5vh;
}
.My_Experience_Section_article_4{
    width: 30vw;
    height: fit-content;
    border: 1px solid white;
    border-radius: 10px;
    padding: 1vw;
    margin-right: 33vw;
    margin-top: 5vh;
    justify-self: flex-end;
}
.My_Experience_Section_article_h3{
    text-transform: uppercase;
    color: yellow;
    font-weight: 500;
}
/* =========================================================================================================== */
/* My Project Section  */
.My_Projects_Section{
    margin-top: 8vh;
    color: white;
    padding: 10vw;
}
.My_Projects_Section p{
    color: yellow;
    margin-bottom: 0;
}
.My_Projects_Section h2{
    margin-top: 0;
}
.My_Projects_Section h2 span{
    border-bottom: 2px solid yellow;
}
.My_Projects_Section_Article{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5vh;
    margin-top: 5vh;
}
.My_Projects_Section_Article img{
    width: 20vw;
    height: 350px;
    border: none;
    border-radius: 10px;
    margin-left: 3vw;
}
/* =========================================================================================================== */
/* What My Clients Say Section  */
.What_My_Client_Say_Section{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    justify-items: center;

}
.What_My_Client_Say_Section_P{
    color: yellow;
    text-align: center;
    margin-bottom: 0;
}
.What_My_Client_Say_Section_h2{
    text-align: center;
    margin-bottom: 8vh;
}
.What_My_Client_Say_Section_h2 span{
    border-bottom: 2px solid yellow;
}
.What_My_Client_Say_Section_Article{
    display: flex;
    flex-direction: column;
    background-image: url("Pics/png.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-self: center;
    width: 75%;
}
.What_My_Client_Say_Section_Article img{
    align-self: center;
    border: none;
    border-radius: 50%;
}
.What_My_Client_Say_Section_Article h3{
    color: yellow;
    text-align: center;
}
.What_My_Client_Say_Section_Article h4{
    color: rgb(255, 255, 0);
    text-align: center;
}
.What_My_Client_Say_Section_Article p{
    width: 60vw;
    color: rgb(255, 255, 255);
    text-align: center;
    align-self: center;
}
/* =========================================================================================================== */
/* Latest Blog Section  */
.section__latest--blog{
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 25vh;
}
.blog-subtitle{
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    color: yellow;
    margin-bottom: 0;
}
.blog-title{
    text-align: center;
    font-weight: 600;
    font-size: 25px;
    margin-top: 0;
}
.div__blog{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 10vh;
}
.Blogs__article{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: fit-content;
    padding: 0 0 2.5vh 0;
    margin-top: 2.5vh;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 5px white;
    background-color: white;
    color: black;
}
.Blogs__article img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.Blogs__article h4{
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 1vw;
}
.Blogs__article h5{
    margin-top: 0.5vh;
    margin-left: 1vw;
}
.Blogs__article p{
    margin-top: 0;
    margin-left: 1vw;
}
.Blogs__article button{
    font-weight: 600;
    font-size: 16px;
    border: none;
    background-color: none;
    margin-left: 1vw;
    width: fit-content;
    color: rgb(255, 255, 0);
    padding: 10px 25px;
    transition: 0.4s ease-in-out;
}
.Blogs__article button:hover{
    background-color: rgb(255, 255, 0);
    color: black;
}
/* =========================================================================================================== */
/* Footer Section  */
.footer{
    background-color: rgba(0, 0, 255, 0.185);
    border-top-left-radius: 10%;
    border-top-right-radius: 50%;
    margin-top: 35vh;
    color: white;
}
.footer-subtitle{
    padding-top: 10vh;
    margin-left: 12.5vh;
    font-weight: 400;
    font-size: 16px;
    color: yellow;
    margin-bottom: 0;
}
.footer-title{
    font-weight: 600;
    font-size: 25px;
    margin-top: 0;
    margin-left: 12vh;
}
.footer-div{
    display: flex;
    flex-direction: row;
}
.login{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 45vw;
    margin-left: 5vw;
}
.footer-div img{
    width: 380px;
    /* height: 800px; */
    position: relative;
    top: -33vh;
    margin-bottom: -33vh;
    z-index: 15;
}
.label{
    font-weight: 400;
    font-size: 16px;
    margin-top:4vh;
}
.email-input{
    width: 300px;
    height: 40px;
    padding-left: 20px;
    border: none;
    border-radius: 40px;
}
.textarea{
    width: 300px;
    height: 100px;
    padding-top: 2vh;
    padding-left: 2vw;
    border: none;
    border-radius: 10px;
}
.footer-btn{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1vw;
    margin-top: 2vh;
}
.footer button{
    width: fit-content;
    height: fit-content;
    padding: 10px 25px;
    background-color: yellow;
    border: 1px solid black;
    border-radius: 30px;
    font-weight: bold;
}
.footer-p{
    width: 100%;
    height: 50px;
    padding-top: 8px;
    background-color: rgba(0, 0, 0, 0.473);
    text-align: center;
    align-content: center;
    color: yellow;
}






































@media (min-width: 501px) and (max-width: 814px){
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Header Section */
.header{
    width: 100%;
    top: 0;
    left: 0;
}
.frox_header{
    -webkit-text-stroke: 1px transparent;
}
nav{
    width: 100%;
}
nav h2{
    margin-left: 1vw;
    font-size: 25px;
}
nav ul{
    gap: 2vw;
    margin-right: 0;
}
nav ul a{
    font-weight: 500;
    font-size: 16px;
}
hgroup{
    width: 98%;
    -webkit-text-stroke: 1px transparent;
}
.header hgroup h1{
    font-size: 26px;
    margin-top: 18vh;
    margin-bottom: 0;
}
.header_span_heading{
    width: fit-content;
}
.header hgroup h4{
    -webkit-text-stroke: 1px transparent;
    margin-top: 1.5vh;
}
.header button{
    width: fit-content;
    height: fit-content;
    padding: 10px 25px;
    left: 50%;
    translate: -50% 0;
}
/* =========================================================================================================== */
/* About Me Section */
.About_me_section{
    flex-direction: column-reverse;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin-right: 0;
}
.About_me_Pic_div{
    width: 100%;
}
.About_me_Pic_div img{
    margin-left: 25vw;
}
.About_me_article{
    width: 100%;
    padding: 0 0 0 2.4vw;
}
.about_me_description{
    margin-top: 1vh;
}
.About_me_buttons_div{
    margin-top: 2.5vw;
}
.About_me_buttons_div button{
    width: fit-content;
    height: fit-content;
    padding: 10px 25px;
}
/* =========================================================================================================== */
/* Experties Section */
.Experties_Section_area_of{
    margin-left: 12vh;
}
.Experties_Section_experties{
    margin-top: 0;
    margin-left: 12vh;
}
.Experties_Section_articles_div{
    width: 100%;
}
.Experties_Section_article{
    width: 40%;
    margin-left: 7vw;
}
.Experties_Section_article_P_P_div{
    margin-top: 0;
    margin-bottom: 0;
}
.range{
    width: 78%;
}
/* =========================================================================================================== */
/* My Service Section */
.My_Service_sect_h2{
    margin-top: 0;
}
.My_Service_sect_div{
    flex-wrap: wrap;
    gap: 1.5vw;
}
.My_Service_sect_article{
    width: 31%;
    height: fit-content;
    padding: 20px 20px 30px 20px;
}
/* =========================================================================================================== */
/* Project Section  */
.Projects_section{
    width: 100%;
}
.project-range{
    -webkit-text-stroke: 1px transparent;
    margin-bottom: 0;
}
/* =========================================================================================================== */
/* My Experience Section  */
.My_Experience_Section .My_Experience_Section_Work_P{
    margin-bottom: 0;
}
.My_Experience_Section_article_1, .My_Experience_Section_article_2, .My_Experience_Section_article_3, .My_Experience_Section_article_4{
    width: 90%;
    height: fit-content;
    padding: 2.5vh 4vw;
    top: 0;
    left: 0;
    right: 0;
    justify-self: center;
    margin-right: 0;
    margin-left: 0;
    text-align: start;
}
/* =========================================================================================================== */
/* My Project Section  */
.My_Projects_Section{
    padding: 0;
}
.My_Projects_Section p{
    margin-left: 6vw;
}
.My_Projects_Section h2{
    margin-left: 6vw;
}
.My_Projects_Section_Article{
    justify-content: center;
    align-items: center;
    gap: 0.5vh;
}
.My_Projects_Section_Article img{
    width: 45%;
    justify-self: center;
    margin-top: 1vh;
}
/* =========================================================================================================== */
/* What My Clients Say Section  */
.What_My_Client_Say_Section{
    margin-top: 22vh;
}
.What_My_Client_Say_Section_P{
    margin-bottom: 0;
}
.What_My_Client_Say_Section_h2{
    margin-bottom: 5vh;
}
.What_My_Client_Say_Section_Article h3{
    margin-bottom: 0;
}
.What_My_Client_Say_Section_Article h4{
    color: rgb(255, 255, 0);
    margin-bottom: 0;
}
.What_My_Client_Say_Section_Article p{
    width: 75vw;
    margin-top: 1vh;
}
/* =========================================================================================================== */
/* Latest Blog Section  */
.div__blog{
    margin-top: 5vh;
}
.Blogs__article{
    width: 300px;
    margin-top: 2.5vh;
}
/* =========================================================================================================== */
/* Footer Section  */
.footer-div img{
    width: 45vw;
    height: clamp(400px, 6vh, 600px);
    position: relative;
    top: -18vh;
    margin-bottom: -33vh;
}
.email-input{
    width: 80%;
}
.textarea{
    width: 80%;
}
}










































@media (max-width: 500px){
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Header Section */
.header{
    width: 100%;
    height: 85vh;
    top: 0;
    left: 0;
}
.frox_header{
    color: yellow;
    -webkit-text-stroke: 1px transparent;
}
nav{
    width: 100%;
    justify-content: space-around;
}
nav h2{
    margin-left: 1vw;
    font-size: 25px;
}
nav ul{
    gap: 2.5vw;
    margin-right: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
}
nav ul a{
    font-weight: 500;
    font-size: 14px;
}
hgroup{
    width: 100%;
    -webkit-text-stroke: 1px transparent;
}
.header hgroup h1{
    font-size: 25px;
    font-weight: 900;
    margin-top: 22vh;
    margin-bottom: 0;
}
.header_span_heading{
    width: 100%;
    color: rgb(255, 255, 0);
}
.header hgroup h4{
    -webkit-text-stroke: 1px transparent;
    margin-top: 2.5vw;
    line-height: 1.4;
    font-size: 16px;
    font-weight: 500;
    width: 90%;
    text-align: center;
    justify-self: center;
}
.header button{
    width: fit-content;
    padding: 10px 25px;
    height: fit-content;
    font-size: 16px;
    left: 50%;
    translate: -50% 0;
    margin-top: 5vh;
}
/* =========================================================================================================== */
/* About Me Section */
.About_me_section{
    flex-direction: column-reverse;
    width: 100%;
    height: 100%;
    gap: 2.5vh;
    top: 0;
    left: 0;
    margin-right: 0;
}
.About_me_Pic_div{
    width: 100%;
}
.About_me_Pic_div img{
    height: 60vh;
    margin-left: 25vw;
    margin-top: 5vh;
}
.About_me_article{
    width: 100%;
    padding: 0 2.5vw;
}
.about_me_description{
    line-height: 1.4;
    margin-top: 1.5vh;
}
.About_me_buttons_div{
    margin-top: 2.5vh;
}
.About_me_buttons_div button{
    width: fit-content;
    height: fit-content;
    padding: 10px 25px;
    font-size: 16px;
}
/* =========================================================================================================== */
/* Experties Section */
.Experties_Section_area_of{
    margin-left: 50%;
    translate: -50% 0;
}
.Experties_Section_experties{
    margin-top: 0;
    margin-left: 50%;
    translate: -50% 0;
}
.Experties_Section_articles_div{
    flex-wrap: wrap;
    gap: 5vw;
    width: 100%;
    margin-top: 5vh;
}
.Experties_Section_article{
    width: 40%;
    text-align: left;
    margin-left: 0;
}
.Experties_Section_article_P_P_div{
    margin-top: 1vh;
    margin-bottom: 0;
}
.range{
    width: 100%;
    height: 1vh;
}
/* =========================================================================================================== */
/* My Service Section */
.My_Service_sect_h2{
    margin-top: 0;
}
.My_Service_sect_div{
    flex-direction: column;
    align-items: center;
    gap: 2.5vw;
    margin-top: 2.5vh;
}
.My_Service_sect_article{
    width: 90%;
    height: fit-content;
    padding: 20px;
}
.My_Service_sect_hrs{
    display: none;
}
/* =========================================================================================================== */
/* Project Section  */
.Projects_section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 0;
    width: 100%;
    height: 65vh;
    padding-top: 0;
    margin-top: 20vh;
}
.Projects_sect_article{
    width: 48vw;
    margin-top: 5vw;
}
.project-range{
    -webkit-text-stroke: 1px transparent;
    margin-bottom: 0;
    z-index: 10;
    text-align: center;
}
.project-title{
    top: 0;
}
/* =========================================================================================================== */
/* My Experience Section  */
.My_Experience_Section_article_1, .My_Experience_Section_article_2, .My_Experience_Section_article_3, .My_Experience_Section_article_4{
    width: 90%;
    height: fit-content;
    border: 1px solid white;
    border-radius: 10px;
    padding: 2.5vh 5vw;
    text-align: start;
    margin-left: 0;
    margin-top: 5vh;
    justify-self: center;
    margin-right: 0;
}
.My_Experience_Section_article_h3{
    text-transform: uppercase;
    color: yellow;
    font-weight: 500;
}
/* =========================================================================================================== */
/* My Project Section  */
.My_Projects_Section{
    margin-top: 15vh;
    padding: 2.5vw;
}
.My_Projects_Section_Article{
    flex-wrap: wrap;
    gap: 2.5vh;
    margin-top: 2.5vh;
}
.My_Projects_Section_Article img{
    width: 40%;
    height: 280px;
    justify-self: center;
}
/* =========================================================================================================== */
/* What My Clients Say Section  */
.What_My_Client_Say_Section{
    margin-top: 22vh;
}
.What_My_Client_Say_Section_P{
    margin-bottom: 0;
}
.What_My_Client_Say_Section_h2{
    margin-bottom: 4vh;
}
.What_My_Client_Say_Section_Article{
    width: 100%;
}
.What_My_Client_Say_Section_Article img{
    margin-top: 5vh;
}
.What_My_Client_Say_Section_Article h3{
    margin-bottom: 0;
}
.What_My_Client_Say_Section_Article h4{
    color: rgb(255, 255, 0);
    text-align: center;
    margin-bottom: 0;
}
.What_My_Client_Say_Section_Article p{
    width: 85%;
}
/* =========================================================================================================== */
/* Latest Blog Section  */
.div__blog{
    gap: 5vw;
    margin-top: 5vh;
}
.Blogs__article{
    width: 85%;
}
.Blogs__article h4{
    margin: 1vh;
}
.Blogs__article h5{
    margin: 0 0 1vw 1vw;
}
.Blogs__article p{
    margin: 0 0 0 1vw;
}
.Blogs__article button{
    width: fit-content;
}
/* =========================================================================================================== */
/* Footer Section  */
.footer{
    margin-top: 35vh;
}
.footer-div{
    display: flex;
    flex-direction: column-reverse;
}
.login{
    width: fit-content;
    margin-left: 5vw;
}
.footer-div img{
    width: 250px;
    top: 5vh;
    left: 5%;
    margin-bottom: 10vh;
    z-index: 10;
}
.label{
    width: fit-content;
}
.email-input{
    width: 80vw;
}
.textarea{
    width: 80vw;
}

.footer button{
    width: fit-content;
    height: fit-content;
    padding: 8px 25px;
}
.footer-p{
    width: 100%;
    margin-top: 5vh;
}
}













@media (max-width: 430px){
    /* Experties Section  */
.Experties_Section_area_of{
    margin-left: 50%;
    translate: -50% 0;
}
.Experties_Section_articles_div{
    width: 100%;
    margin-top: 5vh;
}
.Experties_Section_article{
    width: 90%;
    margin-top: 2.5vh;
}
}





@media(max-width: 1297px){
/* Header Section */
hgroup{
    width: 75%;
}
.header hgroup h1{
    margin-top: 18vh;
    margin-bottom: 0;
}

.header button{
    width: fit-content;
    height: fit-content;
    padding: 10px 25px;
}
}